<!DOCTYPE html>
{% extends 'base.html.j2' %}
<html>
<head>
        <meta charset="utf-8">
        <title>Game of life</title>
</head>

<body>

{% block content %}
<div class="counter">{{ counter }}</div>
<a href="/" class="btn btn-warning home">Home</a>
<a href="/static" class="btn btn-info refresh">Refresh</a>
<a href="/life" class="btn btn-info not-refresh">Turn on autorefreshing</a>
{% block app_content %}

<div>
    <table class="world">
        {% for i in range(world|length) %}
            <tr>
                {% for j in range(world[0]|length) %}
                    {% if world[i][j] %}
                        <td class="cell living-cell"></td>
                    {% elif not world[i][j] and old_world[i][j] %}
                        <td class="cell dead-cell"></td>
                    {% else %}
                        <td class="cell"></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock app_content %}
{% endblock %}

</body>
</html>
